* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg {
    background-color: #d5e1ef;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-items: center;
}

.innerbox {
    background-color: white;
    width: 270px;
    height: 450px;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
}

.innerbox .qr-code img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

@font-face {
    font-family: 'Outfit';
    src: url('fonts/Outfit-Regular.ttf') format('truetype');
}

.innerbox .top-text {
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 20px;
}

.innerbox .bottom-text {
    font-weight: 400;
    font-size: 15px;
    color: hsl(216, 15%, 48%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}